{{ 'section-newsletter-banner.css' | asset_url | stylesheet_tag }}

<div class="section-background color-{{ section.settings.bg_color_scheme }}"></div>

<div
  id="NewsletterBanner-{{ section.id }}"
  class="
    section
    section--{{ section.settings.section_width }}
    section-newsletter-banner
    spacing-style
  "
  style="
    --padding-block-start: max(20px, calc(var(--spacing-scale, 1) * {{ section.settings.padding-block-start }}px));
    --padding-block-end: max(20px, calc(var(--spacing-scale, 1) * {{ section.settings.padding-block-end }}px));
  "
>
  <div class="newsletter-banner__wrapper color-{{ section.settings.box_color_scheme }}">
    
    <div class="newsletter-banner__content">
      <h2 class="newsletter-banner__heading h1">
        {{ section.settings.heading | newline_to_br }}
      </h2>
    </div>

    <div class="newsletter-banner__form-container">
      {% form 'customer', class: 'newsletter-form' %}
        <input type="hidden" name="contact[tags]" value="newsletter">
        
        <div class="newsletter-form__field-wrapper">
          <div class="newsletter-form__input-group">
            <svg aria-hidden="true" focusable="false" class="icon icon-mail" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
              <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path>
              <polyline points="22,6 12,13 2,6"></polyline>
            </svg>
            <input
              id="NewsletterForm--{{ section.id }}"
              type="email"
              name="contact[email]"
              class="newsletter-form__input"
              value="{{ form.email }}"
              aria-required="true"
              autocorrect="off"
              autocapitalize="off"
              autocomplete="email"
              {% if form.errors %}
                autofocus
                aria-invalid="true"
                aria-describedby="Newsletter-error--{{ section.id }}"
              {% elsif form.posted_successfully? %}
                aria-describedby="Newsletter-success--{{ section.id }}"
              {% endif %}
              placeholder="{{ section.settings.input_placeholder }}"
              required
            >
          </div>
          
          <button
            type="submit"
            class="newsletter-form__button"
            name="commit"
            id="Subscribe-{{ section.id }}"
          >
            {{ section.settings.button_label }}
          </button>
        </div>

        {%- if form.errors -%}
          <small class="newsletter-form__message form__message" id="Newsletter-error--{{ section.id }}">
            {{ form.errors.translated_fields.email | capitalize }} {{ form.errors.messages.email }}
          </small>
        {%- endif -%}
        
        {%- if form.posted_successfully? -%}
          <h3 class="newsletter-form__message newsletter-form__message--success form__message" id="Newsletter-success--{{ section.id }}" tabindex="-1" autofocus>
            Thanks for subscribing!
          </h3>
        {%- endif -%}
      {% endform %}
    </div>

  </div>
</div>

{% schema %}
{
  "name": "Newsletter Banner",
  "class": "ui-test-newsletter-banner",
  "disabled_on": {
    "groups": ["header"]
  },
  "settings": [
    {
      "type": "textarea",
      "id": "heading",
      "label": "Heading",
      "default": "STAY UPTO DATE ABOUT\nOUR LATEST OFFERS"
    },
    {
      "type": "text",
      "id": "input_placeholder",
      "label": "Input Placeholder",
      "default": "Enter your email address"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button Label",
      "default": "Subscribe to Newsletter"
    },
    {
      "type": "header",
      "content": "t:content.section_layout"
    },
    {
      "type": "select",
      "id": "section_width",
      "label": "t:settings.width",
      "options": [
        { "value": "page-width", "label": "Page Width" },
        { "value": "full-width", "label": "Full Width" }
      ],
      "default": "page-width"
    },
    {
      "type": "color_scheme",
      "id": "bg_color_scheme",
      "label": "Outer Background Color",
      "default": "scheme-1"
    },
    {
      "type": "color_scheme",
      "id": "box_color_scheme",
      "label": "Banner Box Color",
      "info": "This colors the rounded box.",
      "default": "scheme-inverse"
    },
    {
      "type": "header",
      "content": "t:content.padding"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "label": "t:settings.top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "default": 48
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "label": "t:settings.bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "default": 48
    }
  ],
  "presets": [
    {
      "name": "Newsletter Banner"
    }
  ]
}
{% endschema %}